<ion-header>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button (click)="navigateTo('')" value="favorites">
        <ion-label>Cerrar sesión</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="myphoto">
  <ion-col size="12">
    <img src="../../../assets/images/facil.png" class="slide-bck-bottom" alt="" (click)="tablaFacil()" height="200px">
  </ion-col>
  <ion-col size="12">
    <img src="../../../assets/images/medio.png" class="shake-top" alt="" (click)="tablaMedio()" height="200px">
  </ion-col>
  <ion-col size="12">
    <img src="../../../assets/images/dificil.png" class="vibrate-1" alt="" (click)="tablaDificil()" height="200px">
  </ion-col>
</ion-content>

<!-- (click)="AccesoRapido('usuario@usuario.com','333333')">USUARIO</ion-button> -->