<body class="background">
  <ion-list class="blue ion-margin-top">
    <form [formGroup]="form" action="javascript:void(0)">
      <ion-grid class="ion-margin-top" >
        <ion-row>
          <ion-col size="12" class="input-color" style="margin-top: 5%;">
            <ion-item>
              <ion-input class="text-input" label="Correo electrónico" formControlName="email"
                class="input-text js-input" required></ion-input>
              <div *ngIf="form.get('mail')?.invalid && (form.get('mail')?.dirty || form.get('mail')?.touched)">
                <div *ngIf="form.get('mail')?.errors?.['required']" class="error-message">
                  El campo es requerido.
                </div>
                <div *ngIf="form.get('mail')?.errors?.['minlength']" class="error-message">
                  El campo debe tener al menos {{form.get('mail')?.errors?.['minlength'].requiredLength}} caracteres.
                </div>
                <div *ngIf="form.get('mail')?.errors?.['maxlength']" class="error-message">
                  El campo debe tener como maximo {{form.get('mail')?.errors?.['maxlength'].requiredLength}} caracteres.
                </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="12" style="margin-top: 5%;">
            <ion-item>
              <ion-input label="Contraseña" type="password" formControlName="password" class="input-text js-input"
                required></ion-input>

              <div
                *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
                <div *ngIf="form.get('password')?.errors?.['required']" class="error-message">
                  El campo es requerido.
                </div>
                <div *ngIf="form.get('password')?.errors?.['minlength']" class="error-message">
                  El campo debe tener al menos {{form.get('password')?.errors?.['minlength'].requiredLength}}
                  caracteres.
                </div>
                <div *ngIf="form.get('password')?.errors?.['maxlength']" class="error-message">
                  El campo debe tener como maximo {{form.get('password')?.errors?.['maxlength'].requiredLength}}
                  caracteres.
                </div>
                <span *ngIf="form.get('password')?.errors?.['pattern']">El campo solo puede contener letras y caracteres
                  especiales.</span>
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
                
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="ion-margin-top" type="submit" color="primary" size="large" expand="block"
              (click)="AccesoRapido('admin@admin.com','111111')">ADMIN</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="ion-margin-top" type="submit" color="primary" size="large" expand="block"
              (click)="AccesoRapido('invitado@invitado.com','222222')">INVITADO</ion-button>
          </ion-col>
        </ion-row>

        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-text-center">
            <ion-button class="ion-margin-top" type="submit" color="primary" size="large" expand="block"
              (click)="AccesoRapido('usuario@usuario.com','333333')">USUARIO</ion-button>
          </ion-col>
        </ion-row>
        <!-- </ion-grid> -->

        <ion-row class="ion-align-items-center" style="margin-top: 15%;">
          <ion-col size="12" class="ion-text-center">
            <img src="../../../assets/images/iniciar-sesion.png" class="rounded-circle" alt="Cinque Terre"
              width="150" height="150" (click)="SignIn()">
          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ion-grid>
        <ion-list>
          <ion-item>
            <ion-select aria-label="roles" interface="popover" placeholder="Roles" (ionChange)="onRoleChange($event)" [(ngModel)]="selectedRole">
              <ion-select-option value="admin">Admin</ion-select-option>
              <ion-select-option value="invitado">Invitado</ion-select-option>
              <ion-select-option value="usuario">Usuario</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-grid> -->
    </form>
  </ion-list>

</body>